IccWorld2015/IccWorld2015/SampleData/FixturesSampleData/FixturesSampleData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.FixturesSampleData" targetNamespace="Expression.Blend.SampleData.FixturesSampleData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FixturesSampleData" type="tns:FixturesSampleData" />
  <xs:complexType name="FixturesSampleData">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute name="Match" type="xs:string" />
    <xs:attribute name="Team1" type="xs:string" />
    <xs:attribute name="Team2" type="xs:string" />
    <xs:attribute name="Venue" type="xs:string" />
    <xs:attribute name="Type" type="xs:string" />
    <xs:attribute blend:Format="Date" name="Date" type="xs:string" />
  </xs:complexType>
</xs:schema>